Source: bluetooth-frwk
Section: devel
Priority: optional
Maintainer: DoHyun Pyun <dh79.pyun@samsung.com>, Hocheol Seo <hocheol.seo@samsung.com>, ChanYeol Park <chanyeol.park@samsung.com>
Uploaders: Girishashok Joshi <girish.joshi@samsung.com>, Sunil Behera <sunil.behera@samsung.com>, Syam Sidhardhan <s.syam@samsung.com>
Build-Depends: debhelper (>= 5), libslp-setting-dev, dlog-dev,libxml2-dev, libaul-1-dev, syspopup-caller-dev, libcontacts-service-dev, libdbus-glib-1-dev, libglib2.0-dev, email-service-dev, libslp-msg-service-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: libbluetooth-frwk-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluetooth-frwk-agent (= ${Source-Version}), dbus, bluez
Description: Bluetooth framework for BlueZ
 This package is Bluetooth framework based on BlueZ stack.
 This package contains API set for BT GAP, BT SDP, and BT RFCOMM.

Package: libbluetooth-frwk-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbluetooth-frwk-0 (= ${Source-Version}), libslp-setting-dev, dlog-dev, libxml2-dev, libdbus-glib-1-dev, libglib2.0-dev
XB-Generate-Docs: yes
Description: Bluetooth framework for BlueZ
 This package is development files for Bluetooth framework based on BlueZ stack.
 This package contains API set for BT GAP, BT SDP, and BT RFCOMM.

Package: bluetooth-frwk-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libappcore-efl-0, libaul-1
Description: Bluetooth Agent for pairing and authorization
 This package is Bluetooth useraction Agent to response pairing, authorization, and mode change with BlueZ.

Package: bt-service
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbluetooth-frwk-0 (= ${Source-Version})
Description: Bluetooth service deamon
 This package is Bluetooth service daemon.

Package: bluetooth-frwk-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbluetooth-frwk-0 (= ${Source-Version})
Description: Bluetooth framework (unstripped)
 The package contains detached debugging symbols for the binary packages
 produced by the bluetooth-frwk soruce.

