# bt-service check previous BT-connection status and re-activate BT when boot.

[Unit]
Description=Bluetooth Framework Service

[Service]
Type=dbus
BusName=org.projectx.bt
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/app/dbus/user_bus_socket
ExecStart=/usr/bin/bt-service
RemainAfterExit=yes

[Install]
WantedBy=tizen-middleware.target
