# bt-service check previous BT-connection status and re-activate BT when boot.

[Unit]
Description=Bluetooth Framework Service
After=dbus.service

[Service]
Type=bus
BusName=org.projectx.bt
ExecStart=/usr/bin/bt-service
RemainAfterExit=yes

[Install]
WantedBy=tizen-middleware.target.wants
