[Unit]
Description=Bluetooth service
After=multi-user.target

[Service]
User=owner
Group=users
SupplementaryGroups=priv_mediastorage
Type=dbus
BusName=org.projectx.bt
SmackProcessLabel=User
ExecStart=/usr/bin/bt-service
KillMode=process
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/5001/dbus/user_bus_socket

[Install]
WantedBy=multi-user.target
