[Unit]
Description=Bluetooth service
After=multi-user.target

[Service]
Type=dbus
BusName=org.projectx.bt
ExecStart=/usr/bin/bt-service
KillMode=process

[Install]
WantedBy=multi-user.target
