[Unit]
Description=Bluetooth service

[Service]
Type=dbus
BusName=org.projectx.bt
ExecStart=/usr/bin/bt-service
Restart=always
RestartSec=1
KillMode=process

[Install]
WantedBy=default.target
